:root {
  --nat-navbar-bg-rgb: 0, 0, 139;
  --nat-navbar-text-color: white;
  --nat-navbar-highlight-text: var(--bs-gray-500);
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%; /* Ensures full height for flexbox layout */
  padding: 0;
  margin: 0;
  display: flex; /* Flexbox for vertical layout */
  flex-direction: column;
}
body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; /* Allows the wrapper to fill available space */
}

/* Main content area */
main {
  flex: 1; /* Pushes the footer to the bottom when content is short */
}

/* New Stuff Added after defaults */

/* Footer Styles */
.footer {
  background-color: #121214; /* Background color */
  color: #f2f5f8; /* Text color */
  padding: 1rem 0;
  text-align: center;
}

.footer a {
  color: #f2f5f8; /* Link text color */
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff; /* Hover effect for links */
  text-decoration: underline;
}

/* Navbar Styles */
.navbar {
  background-color: #121214; /* Background color */
  color: #f2f5f8; /* Text color */
}

.navbar .navbar-brand {
  color: #f2f5f8; /* Brand text color */
  font-size: 1.5rem; /* Optional: Adjust font size */
  font-weight: normal; /* Optional: Adjust font weight */
}

.navbar-brand:hover {
  color: #ffffff; /* Hover effect for brand */
}

.navbar .nav-link {
  color: #f2f5f8; /* Link text color */
}

.navbar .nav-link:hover {
  color: #ffffff; /* Hover effect for links */
}

.navbar .nav-dropdown a {
  color: #f2f5f8; /* Dropdown link text color */
  text-decoration: none;
}

.navbar .nav-dropdown a:hover {
  color: #ffffff; /* Hover effect for dropdown links */
}

/*Jam Info Cards */
.hover-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Navbar Toggler Styles */
.custom-toggler .navbar-toggler-icon {
  background-image: none; /* Remove the default icon */
  width: 30px;
  height: 4px;
  background-color: lightgreen; /* Custom color */
  border-radius: 2px;
  position: relative;
}

.custom-toggler .navbar-toggler-icon::before,
.custom-toggler .navbar-toggler-icon::after {
  content: '';
  background-color: lightgreen; /* Same color as the main line */
  width: 30px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  left: 0;
}

.custom-toggler .navbar-toggler-icon::before {
  top: -8px; /* Position the top line */
}

.custom-toggler .navbar-toggler-icon::after {
  top: 8px; /* Adjust top position for the last line */
}
